<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        {{!-- <h1>{{title}}</h1> --}}
        <img class="potrait" src="/img/robot.png" alt="Picture of Aman Srivastava">
        {{!-- <h2>This is a picture of hot n' sexy {{character}}</h2> --}}
    </div>
    {{>footer}}
</body>
<script src="/js/script.js"></script>
</html>